
.title-uc {
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  position: fixed;
  text-align: left;
  color: #fff;
  background-color: rgba(172, 96, 103, 0.95);
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.content-uc {
  padding: 10px;
  margin-top: 50px;
}

.search-container-models {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #cfe2e8;
}
.searchbox-models {
  font-size: 22px;
  padding-left: 30px;
  border: 1px solid #ddd;
  margin-bottom: 0;
  margin-left: 12px;
  width: 100%;
}

.item-picture {
  width: 10%;
  min-height: 80px;
  min-width: 140px;
  margin-right: 15px;
}
.uc-description {
  flex-grow: 1;
  text-align: start;
  padding-left: 10px;
}
.uc-item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .item-picture,
  .models-list .images-container {
    display: none;
  }
}
.model-item {
  display: flex;
  align-items: center;
}

.error {
  color: red;
  text-align: center;
}

.selected {
  background-color: lightgray;
  transition: background-color 0.5s ease;
}
.item-sections {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  /*margin-top: 10px;
  margin-bottom: 15px;
  padding: 9px;
  border: 3px solid white;*/
}
.item-sections:hover {
  transition: 0.3s ease;
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
}
.no-title {
  padding: 10px;
  margin-top: 0;
}
.disabled-tag {
  position: absolute;
  top: 15%;
  left: 45%;
  font-weight: 700;
  border: 10px solid #bacfcb;
  background-color: #bacfcb;
  border-radius: 5px;
  z-index: 2;
}
.disabled-item {
  opacity: 0.5;
  background-color: rgba(63, 58, 58, 0.22);
  cursor: not-allowed;
}
.disabled-item:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.disabled-container {
  position: relative;
}
.divider {
   border-top-width: 0;
   border-left-width: 1px;
   border-left-style: solid;
   border-color: lightgray;
   margin: 0 5px;
   min-height: 50px;
}
@media screen and (max-width: 751px) {
  .disabled-tag {
    left: 35%;
  }
}
